body {
    padding-top: 5rem;
}

#indexlist td.indexcolname .img-wrap {

display: inline-block;
margin-right: 10px;

}

#indexlist .indexcolname {


}

.hidden {
  display: none;
}

#indexlist .indexbreakrow {
  display: none;
}

@media only screen and (max-width: 768px) {

  .indexcollastmod, .indexcolsize, .indexcoldesc {
    display: none;
  }
  .indexcolname {

    width: 95%;

  }
  .indexcolicon {
    width: 5%;
  }

}
